{{ define "meta" }}
<title>二手办公家具ESG碳减排-装配狮循环家具</title>
<meta name="keywords" content="ESG碳减排,二手办公家具ESG,办公家具ESG,办公家具碳减排,装配狮企业责任,装配狮碳中和,装配狮碳减排" />
<meta name="description" content="ESG碳减排聚焦于二手办公家具循环再利用，帮助企业实现办公家具ESG碳减排，促进社会经济绿色可持续发展，推动二手办公家具行业进步。" />
{{ end }}

{{ define "headscript" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/css/esg.css">
<style>
    .consulting {
        width: 460px;
        height: 72px;
        line-height: 72px;
        background-color: #ffffff;
        color: #4F972C;
        text-align: center;
        font-weight: 700;
        margin: 0 auto;
        border-radius: 50px;
        font-size: 24px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .w1200 {
        padding-bottom: 50px;
    }
</style>
{{ end }}

{{ define "main" }}
<section id="content" v-cloak>
    <!-- 轮播 -->
    <div class="banner1">   
        <img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/banner.jpg"  alt="ESG碳减排">
    </div>
    <div class="banner1" style="display: none;">
        <div class="swiper-container swiper-banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="height: 550px !important;background-image: url(https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/banner-esg.jpg);background-repeat: no-repeat;background-position: center;">
                    <!--<a href="#"  style="height: 550px !important;background-image: url(https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/banner-esg.jpg);background-repeat: no-repeat;background-position: center;">-->
                    <!--	<img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/banner-esg.jpg">-->
                    <!--</a>-->
                </div>
                <div class="swiper-slide" style="height: 550px !important;background-image: url(https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/banner-esg1.jpg);background-repeat: no-repeat;background-position: center;">
                    <!--<a href="#/news/detail/61.html"  style="height: 550px !important;background-image: url(https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/banner-esg1.jpg);background-repeat: no-repeat;background-position: center;" target="_blank">-->
                    <!--	<img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/banner-esg1.jpg">-->
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- 优势一 -->
    <div class="w1200 service-ys">
        <div class="layout-title">
            <p>深耕办公服务圈<br>助力企业ESG碳减排</p>
            <p>构建起以中高端办公家具为主的“资源回收—筛选分类—翻新仓储—租售兼<br>营”可租可售可回收的全生态链专业服务体系。</p>
        </div>
        <div class="ys-item flexW">
            <dl>
                <dt>89%</dt>
                <dd>
                    <p></p>
                    <p>{{ .Site.Params.company.Start}}-2023年装配狮所有办公家具的家具回收利用率最高可达89%</p>
                </dd>
            </dl>
            <dl>
                <dt>2742.11吨</dt>
                <dd>
                    <p></p>
                    <p>经CEC评价，装配狮开展的32种家具碳减排项目，报告期内减排量为2742.11吨</p>
                </dd>
            </dl>
            <dl>
                <dt>50%</dt>
                <dd>
                    <p></p>
                    <p>经中环联合认证中心专家估算，二手办公家具减排量可达30-50%</p>
                </dd>
            </dl>
            <dl>
                <dt>300万+</dt>
                <dd>
                    <p></p>
                    <p>经核算，从2009年至今约循环利用了300万余件二手办公家具</p>
                </dd>
            </dl>
        </div>
        <!--<div style="text-align: center;"><span style="border: 1px solid #50972c;padding: 10px;">查看更多</span></div>-->
    </div>
    <!--产业-->
    <div class="cy" style="background: #f5f6f6;">
        <div class="w1200">
            <div class="layout-title">
                <p>注重经济和环境双重效益<br>献力低碳循环经济产业</p>
                <p>将回收产品的质量成色及安全性分类鉴定，筛选出可循环使用产品，<br>并对其他进行零部件拆解，<br>化整为零，对可利用的板材、组件、零件进行归类再次利用。</p>
            </div>
            <div class="famous">
                <div class="swiper-container gallery-top case-content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="case-intro">
                                <img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/cy01.jpg" alt="">
                                <ul>
                                    <li>环境<br>Environmental</li>
                                    <li>二手办公家具建立在资源回收和循环再利用基础上的经济发展模式，整个流通过程，绿色环保、节能减排的理念始终贯穿其中，通过资源高效和循环利用，帮助企业实现碳中和。
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="case-intro">
                                <img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/cy02.jpg" alt="">
                                <ul>
                                    <li>社会<br>Social</li>
                                    <li>我们帮助企业保持竞争力，为企业提供注重经济和环境双重效益的循环办公家具解决方案，同时作为二手办公家具行业领头羊，带动行业进步，协助建立相关的标准政策。
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="case-intro">
                                <img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/cy03.jpg" alt="" style="-webkit-filter: blur(7px);filter: blur(7px);">
                                <ul>
                                    <li>公司治理<br>Governance</li>
                                    <li>我们关怀同事、合作伙伴和利益相关方，提供良好的职业发展通道，营造良好的工作环境，并竭尽全力维护和提高我们企业管治水平。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white case-next"></div>
                <div class="swiper-button-prev swiper-button-white case-prev"></div>
            </div>
        </div>
    </div>
    <!--资源消耗-->
    <div class="w1200 intro2">
        <div class="layout-title">
            <p>家具使用越久<br>资源消耗越少</p>
            <p>实现更多可使用家具的回收再利用装配狮邀您一起，<br>低碳减排，绿色办公！</p>
        </div>
        <div class="intro2-item">
            <dl>
                <dt>90816<span>家</span></dt>
                <dd>客户合作数</dd>
            </dl>
            <dl>
                <dt>1150334<span>件</span></dt>
                <dd>循环家具数</dd>
            </dl>
            <dl>
                <dt>27468720<span>kg</span></dt>
                <dd>合计减碳值</dd>
            </dl>
        </div>
        <div class="intro2-bottom">(数据统计周期：2021年1月1日0时至今)</div>
    </div>
    <!--证书-->
    <div class="zs" style="background: #f5f6f6;">
        <div class="w1200">
            <div class="layout-title">
                <p>为企业颁布<br>碳减排评价证书</p>
                <p>根据中环联合颁布的碳减排证书核算逻辑，符合相关条件可为企业提供碳减<br>排评价证书，帮助企业实现碳中和。</p>
            </div>
            <div class="zs-item">
                <ul class="flexW" style="padding: 0 100px;">
                    <li><img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/zs01.png" alt="" style="-webkit-filter: blur(2px);filter: blur(2px);"></li>
                    <li><img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/zs02.png" alt="" style="-webkit-filter: blur(2px);filter: blur(2px);"></li>
                    <li><img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/zs03.png" alt="" style="-webkit-filter: blur(2px);filter: blur(2px);"></li>
                </ul>
            </div>
        </div>
    </div>
    <!--公益-->
    <div class="gy">
        <div class="w1200" style="padding-bottom: unset">
            <div class="layout-title" style="padding-bottom: 20px;">
                <p>担当企业责任<br>助力社会公益</p>
                <p></p>
            </div>
            <!--
            <div class="gy-item-top flexW">
                <dl>
                    <dt><img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/gy01.png" alt=""></dt>
                    <dd>
                        <p>大树之光计划</p>
                        <p>装配狮联合各界爱心企业发起大树之光公益系列计划，从2021年12月正式启动，结对帮扶，爱心捐助，帮助留守儿童贫困山村</p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/gy02.png" alt=""></dt>
                    <dd>
                        <p>让地球更绿种树计划</p>
                        <p>2020-2025年，装配狮向中国绿化基金会每年捐赠100000元开展新疆干旱区立地生态保护修复建设项目种植10000株蜜胡杨</p>
                    </dd>
                </dl>
            </div>
            -->
            <div class="gy-item-bottom flexW">
                <dl>
                    <dt><img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/gy23.jpg" alt=""></dt>
                    <dd>大树之光×守护童心计划，携手猿力科技有限公司，将279本童书绘本送到云南泸沽湖达组小学有需要的孩子手中</dd>
                </dl>
                <dl>
                    <dt><img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/gy22.jpg" alt=""></dt>
                    <dd>为渣打银行“未来创客”项目捐赠241088元，用于开展公益慈善活动</dd>
                </dl>
                <dl>
                    <dt><img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/gy01.jpg" alt=""></dt>
                    <dd>携手JLL仲量联行，开启大树之光 × 换新衣计划，向云南昭通大寨村完小学及新开村小学的339位孩子送去冬衣御寒</dd>
                </dl>
                <dl>
                    <dt><img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/gy02.jpg" alt=""></dt>
                    <dd>大树之光 × 湿地守护计划，向上海崇明东滩鸟类国家级自然保护区中兴镇富圩村基地教室捐赠家具69件</dd>
                </dl>
            </div>
            <div class="consulting shangqiao" style="background: #4F972C;color: #ffffff;">更多公益我们一直在行动</div>
        </div>
    </div>

</section>
{{ end }}

{{ define "footscript" }}
<script src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/js/esg.js"></script>
{{ end }}