{{ define "meta" }}
<title>二手办公家具行业资讯_二手办公家具市场动态-装配狮</title>
<meta name="Keywords" content="二手办公家具行业资讯,二手办公家具市场动态,二手办公家具市场哪里有,二手办公家具行业值得加入吗,二手办公家具市场前景" />
<meta name="Description" content="二手办公家具市场前景如何？二手办公家具值得买吗？装配狮为您带来最新的二手办公家具行业资讯、最详细的二手办公家具市场动态。" />
{{ end }}

{{ define "headscript" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/css/news.css">
<style>
    .footer-mode {
        background-color: #efefef !important;
    }
    #goods-page {
        text-align: center;
        padding: 20px 0;
        ;
    }
    .layui-laypage-count {
        padding: 0 10px !important;
    }
    .layui-laypage-skip {
        padding-left: 10px !important;
    }
    .layui-laypage .layui-laypage-skip {
        height: 28px !important;
        line-height: 28px !important;
    }
    .layui-form-select .layui-edge {
        border-top-color: #50972d !important;
    }
    .layui-form-checkbox[lay-skin=primary] i {
        border: 1px solid #50972d !important;
    }
</style>
{{ end }}

{{ define "main" }}
<section id="content" style="background-color: #f8f8f8">

  <div class="news-box w1280">
      <div class="box-left">
          <div class="box-list">
              <div class="box-tab">
                  <ul>
                      <a href="/news/list.html">
                          <li class="active">全部内容</li>
                      </a>
                      <a href="/news/list/type/3.html">
                          <li class="">企业动态</li>
                      </a>
                      <a href="/news/list/type/4.html">
                          <li class="">市场资讯</li>
                      </a>
                      <a href="/news/list/type/5.html">
                          <li class="">优惠活动</li>
                      </a>
                      <a href="/news/list/type/6.html">
                          <li class="">好货推荐</li>
                      </a>
                      <a href="/news/list/type/7.html">
                          <li class="">家具知识</li>
                      </a>
                  </ul>
              </div>
              {{ $paginator := .Paginate .Data.Pages }}
              <div class="box-content">
                  {{ range .Paginator.Pages }}
                    {{ $content := .Content }}
                    {{ $matches := findRE `src="(https?://[^\"]+)"` $content -1 }}
                    {{ $imageUrl := "https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/logo.png" }}
                    {{ if $matches }}
                        {{ $firstMatch := index $matches 0 }}
                        {{ $imageUrl = replaceRE `^src="` "" $firstMatch }}
                        {{ $imageUrl = replaceRE `"$` "" $imageUrl }}
                    {{ end }}
                    <a href="{{ .Permalink }}" target="_blank" title="{{ .LinkTitle }}">
                        <dl>
                            <dt style="background-image: url('{{ $imageUrl }})">
                            </dt>
                            <dd>
                                <p class="over1">{{ .LinkTitle }}</p>
                                <p class="">{{ .Summary | plainify }}</p>
                                <div class="item-bottom">
                                    <object>
                                        <a href="/news.html" style="display:inline-block;"><span>企业动态</span></a>
                                    </object>
                                    {{ .Date.Format "2006-01-02" }}
                                </div>
                            </dd>
                        </dl>
                    </a>
                  {{ end }}
              </div>
              <div id="goods-page" data-total="{{ $paginator.TotalPages }}" data-limit="{{ $paginator.PagerSize }}" data-current-page="{{ $paginator.PageNumber }}"></div>
          </div>
      </div>
      <div class="box-right">
          <div class="right-news-list">
              <div class="right-banner"
                  style="background-image: url('https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/banner-right.jpg');margin-bottom: 15px;"></div>
              <div class="right-tab">
                  <ul>
                      <li>热门推荐<em></em></li>
                  </ul>
              </div>
              <div class="right-list">
                {{ $pages := where .Site.RegularPages "Params.hidden" "!=" true }}
                {{ $count := len $pages }}
                {{ $numArticles := 5 }} <!-- 你可以根据需要调整显示的文章数量 -->

                {{ $indices := seq 0 (sub $count 1) }}
                {{ $randomIndices := shuffle $indices }}

                {{ if gt $count $numArticles }}
                {{ $randomIndices = $randomIndices | first $numArticles }}
                {{ end }}

                {{ range $index := $randomIndices }}
                    {{ $page := index $pages $index }}
                    
                    {{ $content := $page.Content }}
                    {{ $matches := findRE `src="(https?://[^\"]+)"` $content -1 }}
                    {{ $imageUrl := "https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/logo.png" }}
                    {{ if $matches }}
                        {{ $firstMatch := index $matches 0 }}
                        {{ $imageUrl = replaceRE `^src="` "" $firstMatch }}
                        {{ $imageUrl = replaceRE `"$` "" $imageUrl }}
                    {{ end }}
                    <a href="{{ $page.Permalink }}" target="_blank" title="{{ $page.Title }}">
                        <dl>
                            <dt
                                style="background-image: url('{{ $imageUrl }}')">
                            </dt>
                            <dd>
                                <p class="over2">{{ $page.Title }}</p>
                                <p>{{ $page.Date.Format "2006-01-02" }}</p>
                            </dd>
                        </dl>
                    </a>
                {{ end }}
              </div>
          </div>
          <div class="right-form">
              <div class="form-title">
                  <p>企业采购办公家具就来装配狮</p>
                  <p>已有 <span style="color: #50972d">1351</span> 位客户提交</p>
              </div>
              <div class="form-submit">
                  <form class="layui-form" action="" method="post">
                      <div class="layui-input-inline" style="width: 100%;padding-bottom: 15px;">
                          <input type="text" name="userName" maxlength="10" lay-verify="required"
                              placeholder="请输入姓名" class="layui-input"
                              style="height: 40px;background-color: #f3f2f2;">
                      </div>
                      <div class="layui-input-inline" style="width: 100%;padding-bottom: 15px;">
                          <input type="number" name="userPhone" maxlength="13" lay-verify="required"
                              placeholder="请输入手机号" class="layui-input"
                              style="height: 40px;background-color: #f3f2f2;">
                      </div>
                      <div class="layui-input-inline" style="width: 100%;padding-bottom: 20px;display: flex">
                          <div style="width: 50%">
                              <select id="area_province" name="" lay-verify="required"
                                  lay-filter="selctProvinceOnchange">
                                  <option value="" selected>请选择省</option>
                              </select>
                          </div>
                          <div style="width: 50%">
                              <select id="area_city" lay-verify="required" lay-filter="selctCityOnchange">
                                  <option value="">请选择市</option>
                              </select>
                          </div>
                      </div>
                      <div class="layui-form-item" style="">
                          <input type="checkbox" id="userCheck" name="userCheck" lay-skin="primary" title=""
                              style="" checked>
                          我已阅读并且同意装配狮的 <a class="user-xy" style=""><span
                                  style="color:#50972d;">用户协议</span></a>
                      </div>
                      <div style="width: 100%; margin: 0;">
                          <button type="button" class="layui-btn layui-btn-fluid"
                              style="background-color: #34802a;font-size: 16px;" lay-submit
                              lay-filter="*">立即提交 获取报价</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="box-banner" style="padding-top: 30px">
          <a href="news/detail/29.html" target="_blank"><img data-original="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/banner-bottom.jpg"
                  class="lazyload"></a>
      </div>
  </div>
</section>
{{ end }}

{{ define "footscript" }}
<script src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/js/news.js"></script>
{{ end }}