{{ define "meta" }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
<meta name="keywords" content="{{- with or .Keywords .Params.tags -}}{{ delimit . ", " }}{{- end -}}">
<meta name="description" content="{{- .Description | default .Summary -}}">
{{- $content := .Content }}
{{- $matches := findRE `src="([^"]+)"` $content -1 }}
{{- $imageUrls := slice }}
{{- if $matches }}
    {{- range $matches }}
        {{- $extractedUrl := replaceRE `src="([^"]+)"` "${1}" . }}
        {{- $image := "" }}
        {{- if not (or (hasPrefix $extractedUrl "http://") (hasPrefix $extractedUrl "https://")) }}
            {{- $baseUrl := .Site.BaseURL }}
            {{- $image = printf "%s%s" $baseUrl $extractedUrl }}
        {{- else }}
            {{- $image = $extractedUrl }}
        {{- end }}
        {{- $imageUrls = $imageUrls | append $image }}
    {{- end }}
{{- else }}
    {{- $imageUrls = $imageUrls | append "https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/logo.png" }}
{{- end }}
{{- $imageUrl := "" }}
{{- $imageUrl = index $imageUrls 0 }}
{{/* 生成Open Graph协议（OGP）信息 */}}
<meta property="og:locale" content="zh_CN" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:image" content="{{ $imageUrl }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="{{- .Description | default .Summary -}}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05" }}+08:00" />
<meta property="og:release_date" content="{{ .Date.Format "2006-01-02T15:04:05" }}+08:00" />
<meta property="article:author" content="{{- .Params.Author | default .Site.Params.Author.Name -}}" />
<meta property="article:published_first" content="{{ .Site.Title }}, {{ .Permalink }}" />
<meta property="og:author" content="{{- .Params.Author | default .Site.Params.Author.Name -}}" />
<meta property="article:publisher" content="https://www.lopins.cn" />
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05" }}+08:00" />
<meta property="bytedance:published_time" content="{{ .Date.Format "2006-01-02T15:04:05" }}+08:00" />
<meta property="bytedance:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05" }}+08:00" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:site" content="@lopins" />
<meta name="twitter:description" content="{{- .Description | default .Summary -}}" />
<meta name="twitter:image" content="{{ $imageUrl }}" />
<link rel="canonical" href="{{ .Permalink }}" />
{{/* 生成包含多张图片的JSON-LD */}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@graph": [
            {
                "@type": "WebPage",
                "@id": "{{ .Permalink }}",
                "url": "{{ .Permalink }}",
                "name": "{{ .Title }}",
                "isPartOf": {
                    "@id": "{{ .Site.BaseURL | absLangURL }}#website"
                },
                "primaryImageOfPage": {
                    "@id": "{{ .Permalink }}#primaryimage"
                },
                "image": [
                    {{- $page := . }}
                    {{- range $index, $imageUrl := $imageUrls }}
                        {{ if ne $index 0 }},{{ end }}
                        {
                            "@id": "{{ $page.Permalink }}#image{{ $index }}",
                            "url": "{{ $imageUrl }}"
                        }
                    {{- end }}
                ],
                "thumbnailUrl": "{{ with $imageUrls }}{{ index $imageUrls 0 }}{{ end }}",
                "datePublished": "{{ .Date.Format "2006-01-02T15:04:05" }}+08:00",
                "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05" }}+08:00",
                "description": "{{ .Description | default .Summary }}",
                "breadcrumb": {
                    "@id": "{{ .Permalink }}#breadcrumb"
                },
                "inLanguage": "zh-CN",
                "potentialAction": [
                    {
                        "@type": "ReadAction",
                        "target": ["{{ .Permalink }}"]
                    }
                ]
            },
            {{- $page := . }}
            {{- range $index, $imageUrl := $imageUrls }}
                {
                    "@type": "ImageObject",
                    "inLanguage": "zh-CN",
                    "@id": "{{ $page.Permalink }}#image{{ $index }}",
                    "url": "{{ $imageUrl }}",
                    "contentUrl": "{{ $imageUrl }}",
                    "width": 2400,
                    "height": 1350
                }{{ if lt $index (sub (len $imageUrls) 1) }},{{ end }}
            {{- end }},
            {
                "@type": "BreadcrumbList",
                "@id": "{{ .Permalink }}#breadcrumb",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "首页",
                        "item": "{{ .Site.BaseURL | absLangURL }}"
                    },
                    {
                        "@type": "ListItem",
                        "position": 2,
                        "name": "行业资讯",
                        "item": "{{ "/news" | absLangURL }}"
                    },
                    {
                        "@type": "ListItem",
                        "position": 3,
                        "name": "{{ .Title }}",
                        "item": "{{ .Permalink }}"
                    }
                ]
            },
            {
                "@type": "WebSite",
                "@id": "{{ .Site.BaseURL | absLangURL }}#website",
                "url": "{{ .Site.BaseURL | absLangURL }}",
                "name": "{{ .Site.Title }}",
                "description": "{{ .Description | default .Summary }}",
                "publisher": {
                    "@id": "{{ .Site.BaseURL | absLangURL }}#organization"
                },
                "potentialAction": [
                    {
                        "@type": "SearchAction",
                        "target": {
                            "@type": "EntryPoint",
                            "urlTemplate": "{{ printf "%s/search/{search_term_string}" (.Site.BaseURL | absLangURL) }}"
                        },
                        "query-input": {
                            "@type": "PropertyValueSpecification",
                            "valueRequired": true,
                            "valueName": "search_term_string"
                        }
                    }
                ],
                "inLanguage": "zh-CN",
                "copyrightHolder": {
                    "@id": "{{ .Site.BaseURL | absLangURL }}#organization"
                }
            },
            {
                "@type": ["Organization", "Brand"],
                "@id": "{{ .Site.BaseURL | absLangURL }}#organization",
                "name": "{{ .Site.Params.company.Name }}",
                "url": "{{ .Site.BaseURL | absLangURL }}",
                "logo": {
                    "@type": "ImageObject",
                    "inLanguage": "zh-CN",
                    "@id": "{{ .Site.BaseURL | absLangURL }}/schema/logo/image/",
                    "url": "https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/logo.png",
                    "contentUrl": "https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/logo.png",
                    "width": 453,
                    "height": 180,
                    "caption": "{{ .Site.Params.company.Name }}"
                },
                "image": {
                    "@id": "{{ .Site.BaseURL | absLangURL }}/schema/logo/image/"
                },
                "sameAs": [
                    "https://www.wooooden.com/",
                    "https://www.issem.cn/"
                ],
                "numberOfEmployees": 999,
                "founder": {
                    "@type": "Person",
                    "name": "lopins",
                    "url": "https://www.lopins.cn",
                    "sameAs": "https://www.lopins.cn"
                },
                "foundingDate": "{{ .Site.Params.company.Start }}",
                "slogan": "{{ .Site.Params.company.Slogan }}",
                "description": "{{ .Site.Params.company.Description }}",
                "legalName": "{{ .Site.Params.company.Name }}"
            }
        ]
    }
</script>
{{ end }}

{{ define "headscript" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/css/info.css">
<style>
    .footer-mode {
        background-color: #efefef !important;
    }

    .layui-laypage .layui-laypage-curr .layui-laypage-em {
        background-color: #50972c;
    }

    em {
        font-style: italic;
    }
</style>
{{ end }}

{{ define "main" }}
<section id="content" style="background-color: #f8f8f8;">
  <!--<div class="part1" style="background-image: url('');"></div>-->
  <div class="part2 w1280">
      <div class="part2-tab-calss">
          <div class="class-right">
              <ul>
                  <a href="/">
                      <li>首页</li>
                  </a>
                  <li style="padding: 0 5px"> > </li>
                  <a href="{{ "/news.html" | absLangURL }}">
                      <li>行业资讯</li>
                  </a>
                  {{ range .Params.categories }}
                  <li style="padding: 0 5px"> > </li>
                    <a href="{{ "categories/" | absLangURL }}{{ . | urlize }}.html">
                        <li>{{ . }}</li>
                    </a>
                  {{ end }}
                  <li style="padding: 0 5px"> > </li>
                  <li style="color: rgb(123, 123, 123);">{{ .Title }}</li>
              </ul>
          </div>
      </div>
  </div>

  <div class="part3">
      <div class="w1280 flexW">
          <div class="part3-news-left">
              <h1 class="info-title">{{ .Title }}</h1>
              <div class="part3-news-screen">
                  <ul>
                        {{- if .Date -}}<li>时间：{{- .Date.Format "2006-01-02" -}}</li>{{- end -}}
                        <li>作者：{{- .Params.Author | default .Site.Params.Author.Name -}}</li>
                        <li>预估：{{ .ReadingTime }}分钟</li>
                        <li>{{ range .Params.tags }}#<a href="{{ "tags/" | absLangURL }}{{ . | urlize }}.html" title="{{ . }}">{{ . }}</a>&nbsp;{{ end }}</li>
                  </ul>
              </div>
              <div class="info-remark">
                  <span style="font-weight: 700;color: #333333;">【导读】</span>{{ .Summary | plainify }}
              </div>
              <div class="info-content">
                {{- with .Content -}}
                  {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">#</a> ${3}` | safeHTML }}
                {{- end -}}
              </div>
              <div class="info-btn">
                  <div class="btn-dz active" onclick="saveGive('32')">
                      <img src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/dz2.png">
                      <span>2</span>
                  </div>
              </div>
              <div class="info-page">
                  <ul>
                      {{ $regularPages := where .Site.RegularPages "Params.hidden" "!=" true }}
                      {{ with .PrevInSection }}
                        <li>上一篇：<a href="{{ .Permalink }}" class="prev"><span>{{ .Title }}</span></a></li>
                      {{ end }}
                      {{ with .NextInSection }}
                        <li>下一篇：<a href="{{ .Permalink }}" class="next"><span>{{ .Title }}</span></a></li>
                      {{ end }}
                  </ul>
              </div>
          </div>
          <div class="box-right">
              <div class="right-news-list">
                  <div class="right-banner" style="background-image: url('https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/banner-right.jpg')">
                  </div>
                  <div class="right-tab">
                      <ul>
                          <li>热门推荐<em></em></li>
                      </ul>
                  </div>
                  <div class="right-list">
                        {{ $opts := dict
                            "document" .
                            "indices" (slice "tags" "keywords")
                        }}
                        {{ with (where .Site.RegularPages "Params.hidden" "!=" true).Related $opts | first 5 }}
                        {{ range . }}
                            {{ $content := .Content }}
                            {{ $matches := findRE `src="([^"]+)"` $content -1 }}
                            {{ $imageUrl := "https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/logo.png" }}
                            {{ if $matches }}
                                {{ $firstMatch := index $matches 0 }}
                                {{ $extractedUrl := replaceRE `src="([^"]+)"` "${1}" $firstMatch }}
                                {{ if not (or (hasPrefix $extractedUrl "http://") (hasPrefix $extractedUrl "https://")) }}
                                    {{ $baseUrl := .Site.BaseURL }}
                                    {{ $imageUrl = printf "%s%s" $baseUrl $extractedUrl }}
                                {{ else }}
                                    {{ $imageUrl = $extractedUrl }}
                                {{ end }}
                            {{ end }}
                            <a href="{{ .Permalink }}" target="_blank" title="{{ .Title }}">
                                <dl>
                                    <dt
                                        style="background-image: url('{{ $imageUrl }}')">
                                    </dt>
                                    <dd>
                                        <p class="over2">{{ .Title }}</p>
                                        <p>{{ .Date.Format "2006-01-02" }}</p>
                                    </dd>
                                </dl>
                            </a>
                            {{ end }}
                        {{ end }}
                  </div>
              </div>
              <div class="right-form">
                  <div class="form-title">
                      <p>企业采购办公家具就来装配狮</p>
                      <p>已有 <span style="color: #50972d">1351</span> 位客户提交</p>
                  </div>
                  <div class="form-submit">
                      <form class="layui-form" action="" method="post">
                          <div class="layui-input-inline" style="width: 100%;padding-bottom: 15px;">
                              <input type="text" name="userName" maxlength="10" lay-verify="required"
                                  placeholder="请输入姓名" class="layui-input"
                                  style="height: 40px;background-color: #f3f2f2;">
                          </div>
                          <div class="layui-input-inline" style="width: 100%;padding-bottom: 15px;">
                              <input type="number" name="userPhone" maxlength="13" lay-verify="required"
                                  placeholder="请输入手机号" class="layui-input"
                                  style="height: 40px;background-color: #f3f2f2;">
                          </div>
                          <div class="layui-input-inline"
                              style="width: 100%;padding-bottom: 20px;display: flex">
                              <div style="width: 50%">
                                  <select id="area_province" name="" lay-verify="required"
                                      lay-filter="selctProvinceOnchange">
                                      <option value="" selected>请选择省</option>
                                  </select>
                              </div>
                              <div style="width: 50%">
                                  <select id="area_city" lay-verify="required" lay-filter="selctCityOnchange">
                                      <option value="">请选择市</option>
                                  </select>
                              </div>
                          </div>
                          <div class="layui-form-item" style="">
                              <input type="checkbox" id="userCheck" name="userCheck" lay-skin="primary"
                                  title="" style="" checked>
                              我已阅读并且同意装配狮的 <a class="user-xy" style=""><span
                                      style="color:#50972d;">用户协议</span></a>
                          </div>
                          <div style="width: 100%; margin: 0;">
                              <button type="button" class="layui-btn layui-btn-fluid"
                                  style="background-color: #34802a;font-size: 16px;" lay-submit
                                  lay-filter="*">立即提交 获取报价</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="box-banner" style="padding-top: 30px">
              <a href="news/detail/29.html" target="_blank"><img
                      data-original="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/picture/banner-bottom.jpg" class="lazyload"></a>
          </div>
      </div>

  </div>

</section>
{{ end }}

{{ define "footscript" }}
<script src="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/js/news.js"></script>
{{ end }}