{{ define "meta" }}
<title>404: Page not found - {{ .Site.Title }}</title>
<meta name="keywords" content="二手办公家具,二手办公家具出售,二手办公家具租赁,装配狮企业采购平台-二手办公家具出售-二手办公家具租赁回收二手办公家具回收,二手办公桌椅,二手办公桌,二手办公椅,二手工位,二手文件柜,二手班台,二手沙发茶几" />
<meta name="description" content="装配狮主营二手办公家具销售租赁回收及仓储寄存业务，涵盖了二手办公桌,二手办公椅,二手工位,二手班台,二手文件柜,二手沙发茶几等多种二手家具。" />
<meta name="robots" content="none">
{{ end }}

{{ define "headscript" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/css/index.css">
<style>
    iframe{width: 100%;height: 700px;padding: 0;margin: 0;border: none;}
    #wrap{width: 100%;height: 100%;}
</style>
<script>window.location.assign('{{ .Site.Params.company.Kefu }}');</script>
{{ end }}

{{ define "main" }}
<section id="content" style="background-color: #f8f8f8">
    <iframe src="{{ .Site.Params.company.Kefu }}"></iframe>
</section>
{{ end }}

{{ define "footscript" }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var iframe = document.getElementById('content');
        var iframeSrc = iframe.src;
        iframe.onload = function() {
            if (iframe.contentDocument && iframe.contentDocument.body.innerHTML.trim() === "" || 
                iframe.contentWindow && iframe.contentWindow.document && iframe.contentWindow.document.body.innerHTML.trim() === "") {
                window.location.href = iframeSrc;
            }
        };
        iframe.onerror = function() {
            window.location.href = iframeSrc;
        };
    });
</script>
{{ end }}