{{ define "meta" }}
	<title>{{ .Title }} - {{ .Site.Title }}</title>
	<meta name="keywords" content="{{- with or .Keywords .Params.tags -}}{{ delimit . ", " }}{{- end -}}">
	<meta name="description" content="{{- .Description | default .Summary -}}">
{{ end }}

{{ define "headscript" }}
{{ end }}

{{ define "main" }}
	<!-- 横幅 -->
	<section class="other-banner content">
		<p>大白菜超级U盘装机工具</p>
		<span>一键装机增强支持GHO ISO WIN ESD SWM快速装机</span>
		<div class="flo">
			<a href="http://down.winbaicai.com:88/DaBaiCai_v6.0_2005_Online.zip" target="_blank" class="custom-down"
				rel="nofollow" data-tag="now">立即下载</a>
			<a href="http://down.winbaicai.com:88/DaBaiCai_v6.0_2005_Online.zip" target="_blank" class="custom-down"
				rel="nofollow" data-tag="now">最新版本V6.0</a>
		</div>
	</section>
	<section class="other-main content flo">
		<!-- 文章 -->
		<div class="other-top">
			<a href="index.html"><span></span></a>
			<h1><a>使用教程</a></h1>
		</div>
		<div class="other-main-div2">


			<article class="udisk-article">

				<div class="udisk-details-main flo">
					<div class="help-details-main-div1 flo">
						<p>大白菜超级u盘装机工具</p>
						<p class="">
							<span>时间：2020-05-15</span><span>阅读量：326</span>
						</p>
					</div>
					<p class="udisk-details-p">
						电脑是我们日常生活与工作中必不可少的一个工具，但在长时间使用之后难免出现各种各样的问题。这个时候，很多人都会选择对其进行系统重装，u盘重装就是目前比较受欢迎的一种重装方式。那么今天小编具跟大家分享一下如何利用大白菜超级U盘装机工具进行u盘重装。
					</p>
					<div class="udisk-div1 udisk-top-div1">
						<p class="other-top-p2">步骤一：制作U盘启动盘</p>
					</div>
					<div class="help-details-main-div2 flo">
						<p>准备工作：</p>
						<p>1、准备一个合适容量的u盘，并做好数据备份。</p>
						<p>2、在官网下载大白菜超级U盘装机工具。</p>
						<p>PS:由于该制作工具涉及到对可移动磁盘的读写操作，所以可能会遭到一些杀毒软件或者是安全软件的拦截而导致失败，故而一定要提前关闭相关的杀毒软件！</p>
						<span class="software-span1"></span>
						<span class="software-span2"></span>
						<span class="software-span3"></span>
						<span class="software-span4"></span>
					</div>
					<p class="udisk-details-p3">操作步骤：</p>
					<p class="udisk-details-p1">1、打开大白菜超级U盘装机工具，点击主界面的【U盘启动】模块，然后选择【默认模式】。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk1.png"></p>
					<p class="udisk-details-p1">2、在【请选择】后面选择需要制作启动的设备（插入的USB设备，一般会默认读取该设备）。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk2.png"></p>
					<p class="udisk-details-p1">3、模式选择【USB-HDD】，格式选择【NTFS】，然后点击【一键制作USB启动盘】。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk3.png"></p>
					<p class="udisk-details-p1">4、在点击一键制作后会弹出一个关于【U盘数据删除且不可恢复】的窗口，选择【是】。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk4.png"></p>
					<p class="udisk-details-p1">5、然后就是等待该工具对U盘进行一个相关数据的写入，右下角会有【进程显示】。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk5.png"></p>
					<p class="udisk-details-p1">6、完成后，可以点击【模拟启动】（一般会出现三个选项，选择BIOS），出现如下图所示的界面则意味着制作U盘启动盘已经成功完成。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk6.png"></p>




					<div class="udisk-div1 udisk-top-div2">
						<p class="other-top-p2">步骤二：进入PE模式</p>
					</div>
					<div class="help-details-main-div2 flo">
						<p>准备工作：</p>
						<p>1、提前下载所需系统的镜像文件，然后将其放到已经制作完成的U盘启动盘中。</p>
						<p>2、若是选择通过U盘启动快捷键的方式进入PE系统，那么要提前查询该电脑所对应的U盘启动快捷键，然后记录下来。</p>
						<p>3、若是选择通过bios热键设置U盘选项为第一启动项，从而进入PE系统，那么请查询该电脑所对应的bios热键并记录下来。</p>
						<p>PS：由于电脑品牌、型号及主板的不同，它们的u盘启动快捷键以及bios热键都会有所不同，所以需要自行上网查询或者咨询电脑品牌客服。</p>
						<span class="software-span1"></span>
						<span class="software-span2"></span>
						<span class="software-span3"></span>
						<span class="software-span4"></span>
					</div>
					<p class="udisk-details-p3">操作步骤：</p>
					<p class="udisk-details-p4">方式一：U盘启动快捷键</p>
					<p class="udisk-details-p1">1、将制作完成的u盘启动盘接入电脑，然后开机或者是重启</p>
					<p class="udisk-details-p1">2、在开机页面出现的瞬间，迅速按下查询到的u盘启动快捷键，直到成功进入优先启动项设置界面。</p>
					<p class="udisk-details-p1">3、将u盘选项设置为优先启动项，回车即可进入winpe系统界面。（不同电脑的显示可能会有所不同，只要认准USB字样或者是u盘名称即可）</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk7.jpg"></p>


					<p class="udisk-details-p4">方式二：bios设置</p>
					<p class="udisk-details-p1">1、将u盘启动盘插入电脑后开机或者重启，在开机页面出现的瞬间迅速按下对应的bios热键，直到进入bios设置界面</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk8.png"></p>
					<p class="udisk-details-p2">PS：由于主板的不同，那么出现的 bios设置界面也会有些不一样。若是Award
						bios，相应的界面就是如下图这样子的，这时就要选择【Advanced BIOS
						Features】，也就是高级bios设置，后面的相关操作也是大同小异。
						故而，若是出现的界面有所不同也不要太慌张，可以自己根据主板的不同去上网查询具体的操作步骤。
					</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk9.png"></p>
					<p class="udisk-details-p1">2、通过【左右方向键】切换到【Boot】，然后利用【上下方向键】键选择【removeble
						device】。（PS：不同电脑的显示也会有所不同，认准带USB字样开头或者是u盘名称即可）。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk10.png"></p>
					<p class="udisk-details-p1">3、使用【+】键将u盘选项移至第一位，然后按下F10保存，回车即可进入PE。</p>



					<div class="udisk-div1 udisk-top-div3">
						<p class="other-top-p2">步骤三：重装系统</p>
					</div>
					<p class="udisk-details-p1">1、回车进入大白菜PE菜单，通过【↑↓】键选择【启动Win10 X64 PE(2G以上内存)】，然后回车进入winpe桌面。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk11.png"></p>
					<p class="udisk-details-p1">2、在进入一键重装界面后，点击【打开】选择你想要安装的win10系统以及安装路径（一般默认为C盘），然后点击【执行】。</p>
					<p class="udisk-details-p2">PS：前提是已经下载好所需系统的镜像文件，如若没有提前下载镜像文件则通过点击【系统下载】来选择安装系统。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk12.png"></p>
					<p class="udisk-details-p1">3、选择好所需系统，点击【下一步】，完成后点击【立即安装】</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk13.png"></p>
					<p class="udisk-details-img"><img src="assets/picture/udisk14.png"></p>
					<p class="udisk-details-img"><img src="assets/picture/udisk15.png"></p>
					<p class="udisk-details-p1">
						4、会跳出一个关于还原设置的弹窗，选择【是】。（PS：建议网卡驱动与USB驱动都勾选，以免重装系统之后出现无法正常上网以及USB无法识别的情况。）</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk16.png"></p>
					<p class="udisk-details-p1">5、勾选【完成后重启】，一定要在重启前拔掉U盘，以免再次进入大白菜PE系统。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk17.png"></p>
					<p class="udisk-details-p1">6、重启后会自动完成系统部署以及各种激活程序，只需要耐心等待即可，直到成功进入新系统界面。</p>
					<p class="udisk-details-img"><img src="assets/picture/udisk18.png"></p>

				</div>

			</article>

			<!-- 侧边栏 -->
			<aside class="udisk-aside">
				<!-- 常见问题 -->
				<a class="udisk-aside1 udisk-aside-a1">
					<span>01</span>
					<p>制作U盘启动盘</p>
					<div class="index-tutorial-right-div1">
					</div>
				</a>
				<span><img src="assets/picture/next_step1.png"></span>
				<a class="udisk-aside-a2">
					<span>02</span>
					<p>进入PE模式</p>
					<div class="index-tutorial-right-div2">
					</div>
				</a>
				<span><img src="assets/picture/next_step1.png"></span>
				<a class="udisk-aside-a3">
					<span>03</span>
					<p>重装系统</p>
					<div class="index-tutorial-right-div3">
					</div>
				</a>
			</aside>
		</div>
	</section>
{{ end }}

{{ define "footscript" }}
	<script src="assets/js/udisk.js" type="text/javascript" charset="utf-8"></script>
{{ end }}