{{ define "meta" }}
	<title>{{ .Title }} - {{ .Site.Title }}</title>
	<meta name="keywords" content="{{- with or .Keywords .Params.tags -}}{{ delimit . ", " }}{{- end -}}">
	<meta name="description" content="{{- .Description | default .Summary -}}">
{{ end }}

{{ define "headscript" }}
{{ end }}

{{ define "main" }}
	<section class="aboutUs-main content flo">
		<aside class="aboutUs-aside">
			<div class="aboutUs-aside-div1">
				<a href="/about.html"><img src="assets/picture/abou_us_n.png" alt="">关于我们</a>
				<p><span></span></p>
			</div>
			<div class="aboutUs-aside-div2 aboutUs-aside-div">
				<a href="/agreement.html"><img src="assets/picture/agreement_pre.png" alt="">免责声明</a>
				<p><span></span></p>
			</div>
		</aside>

		<article class="aboutUs-article2">
			<p class="aboutUs-p1">免责声明</p>
			<p class="aboutUs-p2">
				1、大白菜软件（以下简称“本软件”）为免费软件产品，本软件是“东莞互泰网络科技有限公司“（简称”本公司“）提供给用户进行重装计算机系统维护、制作U盘启动盘等的系统工具软件，使用本软件存在用户个人数据丢失的风险，在使用本功能前，建议用户应对重要数据进行备份，如果用户未能进行充分备份而导致的任何硬盘数据损失，您承认和同意本公司不能就此事提供任何保证及责任
			</p>
			<p class="aboutUs-p2">
				2、使用本软件重装系统后，原系统将不可恢复，如有需要，建议用户重装系统前可对原系统进行备份，如开始重装系统后，由于用户未备份数据导致的对原系统以及原系统重要数据、软件、相关重要文件等的丢失，本公司不承担任何责任
			</p>
			<p class="aboutUs-p2">
				3、使用本软件进行制作计算机操作系统启动盘前，用户已经根据个人需要提前备份、格式化（删除）、转移好其用于制作启动盘的存储介质（包含但不仅限于U盘、任何类型硬盘、SD卡、SM卡等）内的任何数据，使用本软件的过程中用户明确并同意格式化（删除）用来制作启动盘的可移动存储设备内的数据，若制作完成后，因为制作启动盘导致用户的未提前备份、格式化（删除）、转移的存储介质任何数据被覆盖、缺失或丢失的，由用户自行承担后果，本公司不承担任何责任
			</p>
			<p class="aboutUs-p2">
				4、使用本软件重装计算机制作U盘启动盘会存在极少数的情况导致失败，其中受限于各种软件缺陷、用户自身下载的系统版本源数据文件、存储介质等问题，遇到这种情况可以联系在线客服人员寻求技术支持，但本公司不作任何用户的计算机操作系统可以成功重装、系统能运作正常、启动盘制作成功等的承诺或保证
			</p>
			<p class="aboutUs-p2">
				5、使用本软件进行系统重装等操作时，请确保所使用的系统是windows正版计算机操作系统，如果是经过第三方修改的windows计算机操作系统，在重装过程中发生任何意外导致任何软件或硬件损坏及数据损失丢失的，用户将自行承担一切后果，本公司不承担任何责任
			</p>
			<p class="aboutUs-p2">
				6、本产品经过详细的测试，但不能保证与所有的软硬件系统完全兼容，不能保证本产品完全没有错误。如果出现不兼容及软件错误的情况，用户可拨打技术支持电话将情况报告东莞互泰网络科技有限公司，获得技术支持。如果无法解决兼容性问题，用户可以删除本产品
				。</p>
			<p class="aboutUs-p2">7、本软件不提供任何计算机操作系统的激活功能，重装完后建议用户前往微软官方网站咨询相关激活方法</p>
			<p class="aboutUs-p2">
				8、因本产品引起的或与本产品有关的任何争议，各方应友好协商解决；协商不成的，任何一方均可将有关争议提交至东莞仲裁委员会并按照其届时有效的仲裁规则仲裁；仲裁裁决是终局的，对各方均有约束力，如果软件作者对软件的优化与使用有任何异议，都欢迎与我们联系沟通。（联系方式：hutaitech@163.com）
			</p>
		</article>
	</section>
{{ end }}

{{ define "footscript" }}
	<script>
		document.querySelectorAll('oembed[url]').forEach(element => {
			const videoLable = document.createElement('video');
			videoLable.setAttribute('src', element.getAttribute('url'));
			videoLable.setAttribute('controls', 'controls');
			videoLable.setAttribute('style', ' width: 100%;height: 100%; ');
			element.appendChild(videoLable);
		});
	</script>
{{ end }}