.part1{
    height: 300px;
    background-image: url(../images/banner.png);
    background-color: rgb(247, 248, 249);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
}
.part2 {

}
.part2-tab-calss{
    display: flex;
    margin-top: 12px;
}
.part2-tab-calss .class-right{

}
.part2-tab-calss .class-right ul{
    display: flex;
    justify-content: left;
    font-size: 14px;
}
.part2-tab-calss .class-right ul li{
    height: 20px;
    line-height: 20px;
}
.part2-tab-calss .class-right ul li:hover{
    color: #50972c;
    cursor: pointer;
}

.part3 {
    /*height: 1550px;*/

    margin-top: 12px;
    padding-bottom: 30px;
}
.part3-news{
    display: flex;
    justify-content: space-between;
}
.part3-news-left{
    width: 960px;
    background: #ffffff;
    text-align: justify;
}
.part3-news-left .info-title{
    font-size: 24px;
    font-weight: 600;
    padding: 45px 85px 17px;
    text-align: left;
}
.part3-news-left .part3-news-screen{
    padding-bottom: 25px;
    font-size: 14px;
    border-bottom: 1px solid #999;
    margin: 0 85px;
}
.part3-news-screen ul{
    display: flex;
    justify-content: left;
    color: #777;
}
.part3-news-screen ul li{
    padding-right: 30px;
}

.part3-news-left .info-remark{
    width: 750px;
    /* height: 105px; */
    background-color: #fafafa;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #999;
}

.part3-news-left .info-content{
    padding: 20px 85px;
    font-size: 16px !important;
    line-height: 30px !important;
    color: #575d6c !important;
    letter-spacing: 1px !important;
    /*text-indent: 2em !important;*/
}
.part3-news-left .info-content img{
    /*display: initial !important;*/
    /* height: 100% !important; */
    width: 100% !important;
    /* max-width: 790px !important; */
}
.part3-news-left .info-content p{
    margin-bottom: 15px !important;
}
.part3-news-right{
    width: 480px;
    margin-left: 28px;
}
.news-right-banner{
    background-color: #fff;
}
.news-right-item{
    width: 440px;
    background-color: #fff;
    padding: 10px 20px;
}
.news_right_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 10px;
}
.news-right-item ul{
    padding-bottom: 30px;
    border-bottom: 1px solid #595959;
}
.news-right-item ul li{
    margin-top: 26px;
}
.news-right-item ul li p:nth-child(1) {
    width: 50px;
    height: 20px;
    line-height: 20px;
    padding-left: 4px;
    background-image: url(../images/i3.png);
    background-repeat: no-repeat;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.news-right-item ul li p:nth-child(2) {
    width: 375px;
    line-height: 20px;
    font-size: 15px;
    color: #333;
    margin-left: 10px;
}
.examine {
    font-size: 15px;
    color: #575d6c;
    text-align: center;
    margin-top: 24px;
    cursor: pointer;
}

.info-btn{
    margin: 0 85px;
    text-align: center;
    padding-bottom: 45px;
    padding-top: 30px;
}
.info-btn .btn-dz{
    width: 140px;
    border: 1px solid #34802a;
    color: #34802a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 25px;
    margin: 0 auto;
    height: 50px;
    cursor: pointer;
}
.info-btn .active{
    color: #ffffff;
    background-color: #34802a;
}
.info-btn .btn-dz img{
    width: 35px;
}
.info-btn .btn-dz span{
    line-height: 40px;
    height: 35px;
    padding-left: 5px;
}

.info-page ul{
    margin: 0 85px;
    font-size: 16px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #999;
}
.info-page ul li{
    color: #333333;
    width: 375px;
    padding: 20px 0;
}
.info-page ul li span{
    color: #777;
    cursor: pointer;
}

/**********************内容右侧Start**********************/
/*头部*/
.box-right{
    width: 305px;
    /*margin-top: 15px;*/
    margin-bottom: 15px;
}
.layui-form-item .layui-form-checkbox[lay-skin=primary]{
    margin-top:unset
}
.layui-form-item .layui-form-checkbox{
    margin-top:unset
}
.layui-layer-btn .layui-layer-btn0{
    background: #34802a !important;
    font-size: 18px;
    border: unset;
}
.layui-form-item .layui-form-checkbox[lay-skin=primary]{
    padding: unset !important;margin: 0 !important;
}
.layui-form-select .layui-input{
    background-color: #f3f2f2;
}
.right-form{
    padding: 0 20px 20px;
    margin-bottom: 15px;
    background-color: #ffffff;
}
.form-title{
    text-align: center;
    padding: 20px 0;
}
.form-title p:nth-child(1){
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 5px;
}
.form-title p:nth-child(2){
    font-size: 14px;
}

/*推荐文章*/
.right-news-list{

}
.right-news-list .right-tab{
    padding-bottom: 15px;
    background-color: #ffffff;
}
.right-news-list .right-tab ul{
    margin: 0 20px;
    border-bottom: 2px solid #999;
}
.right-news-list .right-tab ul li{
    font-size: 18px;
    width: 80px;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
.right-news-list .right-tab ul li em{
    height: 2px;
    width: 80px;
    background-color: #50972c;
    display: block;
    position: absolute;
    bottom: -2px;
}
.right-news-list .right-list{
    margin-bottom: 15px;
}
.right-news-list dl{
    display: flex;
    flex-flow: wrap;
    background-color: #ffffff;
    padding: 0 20px 15px;
}
.right-news-list dt{
    width: 95px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}
.right-news-list dd{
    padding-left: 10px;
}
.right-news-list dd p:nth-child(1){
    width: 160px;
    height: 40px;
    margin-bottom: 12px;
}

/*banner*/
.right-banner{
    width: 305px;
    height: 445px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
    /*background-size: cover;*/
}
/**********************内容右侧End**********************/


