.crumbs-nav{ height:30px; line-height:30px; padding:12px 0;display: flex;justify-content: space-between;}
.crumbs-nav span{ color:#8c8c8c; float:left;}
.crumbs-nav-item{ float:left; margin-right:7px; position:relative;}
.crumbs-nav-item .arrow{ font-family: simsun;}
.crumbs-nav-item a span{ color:#555;}
.crumbs-nav-item .menu-drop{ float:left; margin-right:7px; background-color:#fff;}
.crumbs-nav-item .icon-right{ font-size:12px;}
.cn-goodsName{ width:300px; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; float:left; color:#8c8c8c;}

.crumbs-nav span.arrow{ margin:0 7px; font-family:sans-serif; color:#8c8c8c;}
.crumbs-nav span.finish{ display:inline-block; width:300px; height:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.selector{ background-color:#fff; margin-bottom:15px;}
.selector .s-line{ border:1px dotted #d2d2d2; margin-top:-1px;}
.selector .s-line:after{ content: ' '; display: block; clear: both; height: 0; visibility: hidden;}
.selector .s-l-wrap{ position:relative; line-height:28px; padding:10px 0;}
.selector .s-l-tit{ float:left; padding-left:30px; width:80px; color:#8c8c8c;}
.selector .s-l-value{ margin-left:110px; padding-right:130px; padding-left:10px; overflow:hidden; zoom:1;}
.selector .s-l-v-list li{ float:left; width:100px; overflow:hidden; margin-right:10px;}
.selector .s-l-v-list li.curr a,.selector .s-l-v-list li a.shaixuan{ color:#f42424;}

.selector .s-l-opt{ position:absolute; top:10px; right:10px; width:75px; height:auto; line-height:22px; overflow:hidden; zoom:1;}
.selector .s-l-opt a{ display:block; float:left; border:1px solid #d2d2d2; line-height:18px; height:18px; color:#8c8c8c;}
.selector .s-l-opt a:hover{ border-color:#f42424; color:#f42424;}
.selector .s-l-opt a .iconfont{ font-size:12px; float:left; margin-top:2px;}
.selector .s-l-opt .s-l-more{ width:18px; text-align:center; margin-right:5px;}
.selector .s-l-opt .s-l-more .iconfont{ margin-left:3px;}
.selector .s-l-opt .s-l-multiple{ padding:0 5px;}
.selector .s-l-opt .s-l-multiple .iconfont{ margin-right:2px;}

.s-more{ text-align: center;position: relative;top: -1px;border-top: 5px solid #f8f8f8;-webkit-transition: border-color .15s ease-in-out;-moz-transition: border-color .15s ease-in-out;transition: border-color .15s ease-in-out;}
.s-more span{ position: relative;display: inline-block;margin-top: -1px;height: 28px;line-height: 28px;padding: 0 12px;background: #f8f8f8;cursor: pointer;color: #8c8c8c;-webkit-transition: border-color .15s ease-in-out;-moz-transition: border-color .15s ease-in-out;transition: border-color .15s ease-in-out;}
.s-more span:hover{ color:#f42424;}
.s-more .iconfont{ font-size:12px; margin-left:6px;}


/*产品内容*/
.product-tab{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 20px;
	padding-bottom: 7px;
	padding-left: 5px;
}
.tab-left{
	display: flex;
	font-size: 22px;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}
.tab-left .selected-txt{
	font-weight: 700;
}
.tab-left .selected{
	width: 100%;
	height: 2px;
	background-color: #50972c;
	position: absolute;
	bottom: -7px;
	left: 0;
}
.tab-left p:nth-child(1){
	position: relative;
}
.tab-left p:nth-child(2){
	width: 1px;
	height: 12px;
	background-color: #999;
	margin: 0 15px;
}
.tab-left p:nth-child(3){
	position: relative;
}
.tab-left img{
	position: absolute;
	right: -30px;
	top: 0;
}
.tab-right{
	font-size: 14px;
}
.tab-right .selected{
	color: #50972c;
}
.tab-right .tab-line{
	width: 1px;
	height: 12px;
	background-color: #999;
	margin: 0 10px;
}
.tab-right ul{
	display: flex;
	flex-flow: wrap;
	align-items: center;
	height: 100%;
}
.tab-right ul li{
	display: flex;
	align-items: center;
}
.scheme_right {
	/*width: 1067px;*/
}
.scheme_right ul {
	display: flex;
	flex-wrap: wrap;
}
.scheme_right li {
	width: 242px;
	height: 292px;
	background: #fff;
	border-radius: 2px;
	-webkit-transition: .2s;
	transition: .2s;
	border: 1px solid hsla(0,0%,90.6%,.5);
}
.scheme_right .margin-rb{
	margin: 0 15px 15px 0;
}
.scheme_right li .scheme_li{
	width: 212px;
	height: 277px;
	padding: 15px 15px 0 15px;
	position: relative;
}
.scheme_right li .scheme_li:hover{
	box-shadow: 1px 1px 25px 2px #e0dddd!important;
	transition: all .1s ease-out;
}
.scheme_right li p:nth-child(1) {
	width: 212px;
	 height: 159px;
	background-color: #b5b5b5;
	margin-bottom: 10px;
}
.scheme_right li p:nth-child(1) img{
	width: 100%;
	height: 100%;
}
.scheme_right li p:nth-child(2) {
	font-size: 14px;
	font-weight: bold;
	/*padding-bottom: 5px;*/
}
.scheme_right li p:nth-child(3) {
	font-size: 14px;
	padding-bottom: 5px;
	color: #999999;
	height: 24px;
}
.scheme_right li p:nth-child(4) {
	font-size: 14px;
	padding-bottom: 5px;
	color: red;
}
.scheme_right li p:nth-child(4) em{
	font-size: 20px;
	font-weight: bold;
}
.scheme_right li p:nth-child(5) {
	font-size: 14px;
	padding-bottom: 5px;
	color: #999999;
}
#goods-page{
	text-align: center;
	padding: 20px 0;;
}


