/*主图主结构*/
.preview-wrap{width: 450px; }
.preview-wrap #magnifier-wrap{position: relative; width: 450px;}
.preview-wrap #magnifier-wrap > span{cursor: not-allowed;position: absolute; bottom: 0; width: 20px; height: 75px; line-height: 75px; text-align: center;border: 1px solid #e5e5e5;}
.preview-wrap #magnifier-wrap > span.ns-text-color-gray{cursor: pointer;}
.preview-wrap #magnifier-wrap .spec-left-btn{left: 0;}
.preview-wrap #magnifier-wrap .spec-right-btn{right: 0;}


/*显示图*/
.preview-wrap #magnifier-wrap .magnifier-main{position: relative; width: 450px; height: 450px; line-height: 450px; text-align: center;}
.preview-wrap #magnifier-wrap .magnifier-main img{width: 100%;height:100% }
.preview-wrap #magnifier-wrap .magnifier-drag{position: absolute; top: 0; left: 0; background-color: #fede4f; opacity: 0.4; filter: alpha(opacity=40); cursor: move;}
.preview-wrap #magnifier-wrap .magnifier-pop{position: absolute; top: 0; overflow: hidden; background: #fff url(../images/loading.gif) no-repeat center center; z-index: 99;}
/*組合图*/
.preview-wrap #magnifier-wrap .spec-items{position: relative; width: 550px; height: 90px; overflow: hidden; margin: 0 auto;}
.preview-wrap #magnifier-wrap .spec-items ul{
position: absolute;
top: 15px;
left: 0;
display: flex;
}
.preview-wrap #magnifier-wrap .spec-items ul *{-webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.preview-wrap #magnifier-wrap .spec-items li{
width: 75px;
height: 73px;
overflow: hidden;
margin-right: 5px;
border: 1px solid #999;
cursor: pointer;
opacity: .5;
display: flex;
flex-flow: column;
align-items: center;
text-align: center;
justify-content: center;
}
.preview-wrap #magnifier-wrap .spec-items li.ns-border-color-gray{border: 1px solid #e5e5e5; opacity: 1}
.preview-wrap #magnifier-wrap .spec-items li img{width: 100%;}

/*隐藏放大*/
.mag-target-img {position: absolute;top: 0;left: 0;}
.info-left .preview-wrap {width: 600px;}
.info-left .preview-wrap #magnifier-wrap .magnifier-main{width: 600px;height: 450px;line-height: 450px;}
.info-left .preview-wrap #magnifier-wrap{width: 600px;}
.info-left .basic-info-wrap {float:left;width:645px;margin-left: 10px;}


/*头部导航标题*/
.product-nav-txt{
	height: 30px;
	line-height: 30px;
	padding: 12px 0;
	display: flex;
}

.product-nav-txt .arrow{
	margin: 0 7px;
	font-family: sans-serif;
	color: #8c8c8c;
}

.product-nav-txt .finish{
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*主体头部*/
.product-info{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	padding: 30px;
	margin-bottom: 20px;
}
.product-info .info-left{
	width: 600px;
}
.product-info .info-right{
	width: 570px;
	padding: 0 55px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.info-right .info-title{

}
.info-right .info-title p:nth-child(1){
	font-size: 22px;
	font-weight: 700;
	padding-bottom: 15px;
}
.info-right .info-title p:nth-child(2){
	font-size: 14px;
	color: #999;
	padding-bottom: 20px;
}
.info-right .info-title p:nth-child(3){
	padding-bottom: 20px;
}
.info-right .info-title p:nth-child(3) em{
	color: #d90114;
}
.info-right .info-title p:nth-child(3) .price{
	font-size: 36px;
	color: #d90114;
}
.info-right .info-title p:nth-child(3) .freight{
	border: 1px solid #999;
	padding: 2px;
	margin: 0 20px;
	font-size: 12px;
}
.info-right .info-title p:nth-child(3) del{
	color: #999;
}
.info-right .info-title p:nth-child(4){
	padding-bottom: 20px;
}
.info-right .info-title p:nth-child(5){
	padding-bottom: 20px;
}
.info-right .info-title p:nth-child(6){
	padding-bottom: 20px;
}
.info-right .info-button{
	display: flex;
	font-size: 20px;
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 40px;
	margin-bottom: 20px;
}
.info-right .info-button .btn-zx{
	width: 160px;
	height: 46px;
	background-color: #d90114;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	cursor: pointer;
}
.info-right .info-button .btn-yy{
	width: 160px;
	height: 46px;
	background-color: #458122;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.info-right .info-desc{

}
.info-right .info-desc p:nth-child(1){
	padding-bottom: 20px;
}
.info-right .info-desc p:nth-child(1) span{
	color: #458122;
}
.info-right .info-desc p:nth-child(2){
	color: #999;
	line-height: 22px;
}

/*商品详情*/
.product-detail{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	padding: 30px;
}
.product-detail .detail-left{
	width: 600px;
}
.product-detail .detail-left-title{
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 20px;
}
.product-detail .detail-left ul{
	height: 177px;
	color: #555;
	display: flex;
	flex-flow: column;
	/*justify-content: space-between;*/
}
.product-detail .detail-left ul li{
	list-style: disc;
	list-style-position: inside;
	height: 35px;
	line-height: 35px;
}
.detail-right{
	width: 600px;
}
.detail-right .detail-right-title{
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 20px;
}
.detail-right .detail-right-param{
	display: flex;
	flex-flow: wrap;
	color: #555;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
.detail-right .detail-right-param dl{
	width: 298.5px;
	height: 43px;
	display: flex;
	align-items: center;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}
.detail-right .detail-right-param dt{
	width: 70px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-right: 1px solid #999;
}
.detail-right .detail-right-param dd{
	height: 44px;
	width: 199px;
	line-height: 44px;
	padding-left: 30px;
}

/*商品图片详情*/
.product-img{
	background-color: #fff;
	padding: 0 30px;
}
.product-img .img-title{
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 20px;
}
.product-img .img-detail{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.product-img .img-detail .img-detail-li{
	width: 600px;
	height: 450px;
	padding-bottom: 20px;
}
.product-img .img-detail img{
	width: 100%;
}
