.layout-tilte {
    text-align: center;
    padding: 50px 0;
}

.layout-tilte p:nth-child(1) {
    font-size: 45px;
    letter-spacing: 3px;
    color: #181818;
    font-weight: bold;
    padding-bottom: 20px;
}

.layout-tilte p:nth-child(2) {
    width: 75px;
    margin: 0 auto;
    border: 2px solid #50972c;
}

/*头部banner*/
.banner-about {
    height: 867px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.about-banner-box{
    position: relative;
    top: 150px;
    color: #ffffff;
    margin: 0 20px;
}
.box-logo{

}
.box-title{
    font-size: 70px;
    margin-top: 55px;
    width: 600px;
    display: flex;
    flex-flow: column;
    line-height: 80px;
}
.box-title em{
    width: 160px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 40px;
}
.box-number{
    display: flex;
    justify-content: space-between;
    width: 750px;
}
.box-number dl{
    width: 230px;
    height: 100px;
    border: 1px solid;
    border-radius: 15px;
    margin-top: 80px;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.box-number dt{
    font-size: 40px;
}
.box-number dt em{
    font-size: 24px;
    padding-left: 5px;
}
.box-number dd{
    font-size: 18px;
}

/*品牌介绍*/
.brand-intro{
    height: 867px;
    background-image: url(../images/brand-intro.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.intro-box{
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
}
.intro-title{
    font-size: 60px;
    padding-bottom: 75px;
}
.intro-content{
    font-size: 25px;
    line-height: 46px;
    padding-bottom: 60px;
}
.intro-video{
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.intro-video img{
    width:28px;
    height:28px;
    padding-left:10px;
}


/*展厅实景*/
.zt-site{
    height: 867px;
    background-image: url(../images/site-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.site-box {
    position: relative;
}
.zt-nav{
    padding-bottom: 40px;
}
.zt-nav ul{
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.zt-nav ul li{
    /*width: 117px;*/
    cursor: pointer;
    padding: 0 15px;
}
.zt-nav .active {
    background-color: #1f8031;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 25px;
}
.zt-intro {
    height: 527px;
    background-color: #fff;
    display: flex;
}

.zt-intro ul {
    width: 291px;
    height: 527px;
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.zt-intro ul li:nth-child(1) {
    color: #1f8031;
    font-size: 39px;
    font-weight: 700;
    padding-bottom: 40px;
}
.zt-intro ul li:nth-child(2) {
    font-size: 26px;
    line-height: 35px;
    color: #8a8a8a;
    padding-bottom: 40px;
}
.zt-intro ul li:nth-child(3) {
    font-size: 22px;
    line-height: 30px;
    color: #8a8a8a;
    letter-spacing: 0.63px;
    padding-bottom: 40px;
}
.zt-intro ul li:nth-child(4){
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.zt-intro ul li:nth-child(4) span:nth-child(1) {
    font-size: 22px;
    color: #50972c;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
    width: 140px;
    margin-bottom: 25px;
}
.zt-intro ul li:nth-child(4) span:nth-child(2) {
    font-size: 22px;
    color: #ffffff;
    background-color: #50972c;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
    width: 140px;
}
.zt-intro .intro-img {
    width: 893px;
    height: 527px;
}
.zt-intro .intro-img .swiper-slide{
    height: 527px;
}
.zt-intro .intro-img img{
    width: 100%;
    height: 100%;
}
.zt-intro .swiper-button-next, .zt-intro .swiper-button-prev {
    top: 555px !important;
    border: 2px solid #e9e9e9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #1f8031;
}
.zt-intro .swiper-button-next:after, .zt-intro .swiper-button-prev:after{
    font-size: 14px !important;
}
.zt-intro .swiper-button-prev, .zt-intro .swiper-container-rtl .swiper-button-next {
    left: 92% !important;
}
.zt-intro .swiper-button-next, .zt-intro .swiper-container-rtl .swiper-button-prev {
    right: 2% !important;
}
.zt-intro .swiper-button-next.swiper-button-disabled, .zt-intro .swiper-button-prev.swiper-button-disabled{
    opacity: unset !important;
    background-color: #ffffff;
    color: #1f8031;
}

/*企业文化*/
.qywh{
    height: 867px;
    background-image: url(../images/qywh1-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.qywh-box .slide-content{
    display: flex;
    color: #ffffff;
}
.qywh-box .slide-content .slide-content-left{
    width: 584px;
    padding-left: 120px;
    padding-top: 63px;
    background-color: rgba(255,255,255,0.1);
}
.qywh-box .slide-content .slide-content-left div:nth-child(1){
    font-size: 32px;
    display: flex;
    align-items: center;
    padding-bottom: 90px;
}
.qywh-box .slide-content .slide-content-left em{
    width: 5px;
    height: 29px;
    background-color: #1f8031;
    margin-right: 13px;
    margin-top: 4px;
}
.qywh-box .slide-content .slide-content-left div:nth-child(2){
    font-size: 30px;
}
.qywh-box .slide-content img{

}

.solid-qywh{
    color: #ffffff;
    padding-top: 65px;
    font-size: 20px;
}
.solid-qywh .swiper-wrapper {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
}
.solid-qywh .swiper-slide {
    width: 190px !important;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    cursor: pointer;
}
.solid-qywh .swiper-slide em:nth-child(1){
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    z-index: 99;
}
.solid-qywh .swiper-slide em:nth-child(2){
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    top: -11px;
    z-index: 98;
}
.solid-qywh .swiper-slide-thumb-active em:nth-child(1){
    background-color: #50972c;
}
.solid-qywh .swiper-slide-thumb-active em:nth-child(2){
    background-color: rgba(82,151,45,0.3);
}

/*荣誉*/
.part5{
    height: 867px;
    background-image: url(../images/banner-certify.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/*发展历程*/
.course{
    height: 867px;
    background-image: url(../images/banner-course.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.milestone-tab{
    border-bottom: 1px solid #ffffff !important;
}
.milestone-tab .item-li{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
    height: 100px !important;
    position: relative;
}
.milestone-title {
    text-align: center;
    /*margin: 0 auto 10px !important;*/
    color: #ffffff;
}
.milestone-title .swiper-slide-thumb-active{
    /*color: #50972c;*/
    /*border-bottom: 2px solid #50972c;*/
    /*font-weight: bold;*/
}
.milestone-title .swiper-slide-thumb-active .item-li div{
    margin: 0 7px;
    border-radius: 50% !important;
    position: absolute;
    right: 0;
}
.milestone-title .swiper-slide-thumb-active .item-li .item-active1{
    /*width: 1px !important;*/
    /*height: 15px !important;*/
    /*background: #ffffff !important;*/
    /*z-index: 1;*/
    /*right: 10px;*/
    /*bottom: 0px;*/
    /*border-radius: unset !important;*/
}
.milestone-title .swiper-slide-thumb-active .item-li .item-active2{
    width: 20px !important;
    height: 20px !important;
    z-index: 2;
    background: #50972d !important;
    right: 3px;
    bottom: 3px;
    
}

.milestone-title .swiper-slide-thumb-active span{
    font-size: 60px !important;
    top: 0 !important;
    left: 125px !important;;
}
.milestone-title .swiper-slide {
    width: 195px !important;
    padding-right: 10px;
    margin: 0 !important;
    height: 100px !important;
    position: relative !important;
}
.milestone-title .swiper-slide span{
    top: 20px;
    left: 155px;
    font-size: 30px;
}
.milestone-title .swiper-slide .item-li div{
    width: 1px !important;
    height: 15px !important;
    background: #ffffff !important;
    margin: 0 7px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.milestone-item dl{
    display: flex;
}
.milestone-item dt{
    width: 494px;
    height: 336px;
}
.milestone-item img{
    width: 100%;
    /*border-radius: 5px 0 0 5px;*/
}
.milestone-item dd{
    font-size: 16px;
    color: #747272;
    padding: 30px 40px;
    line-height: 30px;
    width: 606px;
    height: 276px;
    background: #ffffff;
    /*border-radius: 0 5px 5px 0;*/
}
.milestone-item dd p{
    line-height: 30px;
}
.milestone-item dd span{
    font-weight: 700;
    color: #50972c;
}
.course-box{
    width: 1180px;
    margin-left: 50px;
    padding-top: 30px;
}
.course .swiper-button-next, .course .swiper-button-prev {
    top: 260px !important;
}
.course .swiper-button-prev,
.course .swiper-container-rtl .swiper-button-next {
    left: 0 !important;
    color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 45px;
    height: 45px;
}
.course .swiper-button-next:after, .course .swiper-button-prev:after{
    font-size: 16px !important;
}
.course .swiper-button-next,
.course .swiper-container-rtl .swiper-button-prev {
    right: 0 !important;
    color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 45px;
    height: 45px;
}


/*爱心公益*/
.welfare{
    height: 800px;

}
.welfare-box{
    position: relative;
}
.welfare-box .swiper-welfare{
    height: 460px;
}
.welfare-box .swiper-welfare .swiper-slide{

}
.welfare-box .swiper-welfare .swiper-slide-active{
    /*background-color: #1f8031 !important;*/
    /*color: #ffffff;*/
}
.welfare-box .swiper-button-next, .welfare-box .swiper-button-prev {
    top: 530px !important;
    border: 2px solid #e9e9e9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1f8031;
    color: #ffffff;
}
.welfare-box .swiper-button-next:after, .welfare-box .swiper-button-prev:after{
    font-size: 14px !important;
}
.welfare-box .swiper-button-prev, .welfare-box .swiper-container-rtl .swiper-button-next {
    left: 89% !important;
}
.welfare-box .swiper-button-next, .welfare-box .swiper-container-rtl .swiper-button-prev {
    right: 4% !important;
}
.welfare-box .swiper-button-next.swiper-button-disabled, .welfare-box .swiper-button-prev.swiper-button-disabled{
    opacity: unset !important;
    background-color: #ffffff;
    color: #1f8031;
}

.welfare-box .swiper-welfare .swiper-slide dl{
    width: 265px;
    height: 400px;
    padding: 20px;
    font-size: 18px;
    background-color: #f5f5f5;
}
.welfare-box .swiper-welfare .swiper-slide dl:hover{
    background-color: #1f8031 !important;
    color: #ffffff;
    cursor: pointer;
}
.welfare-box .swiper-welfare .swiper-slide dl img{
    width: 100%;
}
.welfare-box .swiper-welfare .swiper-slide dt{
    padding-bottom: 35px;
}
.welfare-box .swiper-welfare .swiper-slide dd{

}
.welfare-box .swiper-welfare .swiper-slide dd p:nth-child(1){
    padding-bottom: 15px;
    font-weight: 700;
}
.welfare-box .swiper-welfare .swiper-slide dd p:nth-child(2){
    line-height: 30px;
    font-size: 16px;
}
.swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
    top: unset;
    bottom: 0;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background-color: #1f8031;
}