{{ define "meta" }}
	<meta name="sogou_site_verification" content="CIGXVe51tk" />
	<meta name="360-site-verification" content="1bf1a0ea1648ec4eea769e31804d7727" />
	<meta name="shenma-site-verification" content="2e76cda2ba5e2e78f82e86bb52ac1fd0_1669164983">
	<meta name="bytedance-verification-code" content="49AiWiMu0fOxWjs/mWJD" />
	<title>{{ .Site.Params.title }}</title>
	<meta name="keywords" content="{{ .Site.Params.keywords }}" />
	<meta name="description" content="{{ .Site.Params.description }}" />
	<meta property="og:locale" content="zh_CN" />
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ .Site.Params.title }}">
	<meta property="og:image" content="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/logo.png">
	<meta property="og:url" content="{{ .Site.BaseURL }}">
	<meta property="og:description" content="{{ .Site.Params.description }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ .Site.Params.title }}">
	<meta name="twitter:description" content="{{ .Site.Params.description }}">
	<meta name="twitter:image" content="https://cdn.jsdelivr.net/gh/lopinv/wooooden.com/static/assets/images/logo.png">
	<link rel="canonical" href="{{ .Site.BaseURL }}">
{{ end }}

{{ define "headscript" }}
	<link href="/assets/css/index.css" rel="stylesheet" type="text/css" />
{{ end }}

{{ define "main" }}
	<!-- 首页横幅部分index-banner-->
	<section class="index-banner ">
		<div class="index-banner-div content flo">
			<div class="index-banner-font">
				<!--	头部banner文字		-->
				<div class="index-banner-font-div1"><span>时隔两年巅峰之作V6.0</span></div>
				<p class="index-banner-font-p2"><span>三种启动模式</span>全面支持UEFI启动</p>
				<p class="index-banner-font-p3">一键装机增强支持GHO ISO WIM ESD SWM快速装机</p>
				<div class="index-banner-font-div4">
					<p>全面优化增强Win11PE系统，更全面的SRS驱动支持！</p>
					<p>优化智能快速装机，大幅提示工作效率</p>
				</div>
				<div class="index-banner-font-div5 flo">
					<div>
						<span>ED2K下载</span>
						<a href="ed2k://|file|zh-cn_windows_11_consumer_editions_version_24h2_x64_dvd_bfc0d79b.iso|5829044224|EF683BDE621E6BC2A96AB2ACEC626620|/" rel="external nofollow"
							target="_blank" class="custom-down" data-tag="now">在线安装</a>
					</div>
					<div>
						<span>磁力下载</span>
						<a href="magnet:?xt=urn:btih:2fc6fc24f7d56d1def32ae0334d2df0cd3b855ea&dn=zh-cn_windows_11_consumer_editions_version_24h2_x64_dvd_bfc0d79b.iso&xl=5829044224" rel="external nofollow"
							target="_blank" class="custom-down" data-tag="now">装机版UEFI</a>
					</div>
					<div>
						<span>网盘下载</span>
						<a href="https://pan.baidu.com/s/1WPA8g0g6JmgeGcSHk4pWnw?pwd=msdn" rel="external nofollow"
							target="_blank" class="custom-down" data-tag="now">离线下载</a>
					</div>
					<div>
						<span>迅雷下载</span>
						<a href="ed2k://|file|zh-cn_windows_11_consumer_editions_version_24h2_x64_dvd_bfc0d79b.iso|5829044224|EF683BDE621E6BC2A96AB2ACEC626620|/" rel="external nofollow"
							target="_blank" class="custom-down" data-tag="now">极速下载</a>
					</div>
				</div>
				<!-- <div class="index-banner-font-div6 flo">
					<a href="https://downwz.dabaicai.com:98/DaBaiCai_ud_v6.0_2406.zip" rel="nofollow" target="_blank"
						class="custom-down" data-tag="other" data-local="0"><img
							src="/assets/picture/banner_download.png" alt="">华东下载</a>
					<a href="https://downwz.dabaicai.com:98/DaBaiCai_ud_v6.0_2406.zip" rel="nofollow" target="_blank"
						class="custom-down" data-tag="other" data-local="0"><img
							src="/assets/picture/banner_download.png" alt="">华中下载</a>
					<a href="https://downwz.dabaicai.com:98/DaBaiCai_ud_v6.0_2406.zip" rel="nofollow" target="_blank"
						class="custom-down" data-tag="other" data-local="0"><img
							src="/assets/picture/banner_download.png" alt="">华南下载</a>
				</div> -->
				<p class="index-banner-font-p7">软件名称：<b>Windows 11 LTSC 简体中文 64位</b></p>
				<p class="index-banner-font-p7">文件名：zh-cn_windows_11_consumer_editions_version_24h2_x64_dvd_bfc0d79b.iso</p>
				<p class="index-banner-font-p7">版本号：26100.1742</p>
				<p class="index-banner-font-p7">发布日期：2024年10月01日</p>
				<p class="index-banner-font-p7">软件大小：4.92GB</p>
				<p class="index-banner-font-p7">MD5：1A13ADE0178082432F90DF951A88842F</p>
				<p class="index-banner-font-p7">SHA1：AB7CD740E6CD495A69E3A90FCD7FB56BA0C5C62E</p>
			</div>
			<div class="index-banner-img"></div>
		</div>
	</section>

	<!-- 快捷键查询index-shortcuts-->
	<section class="index-shortcuts content flo" style="height: 225px;">
		<div class="index-shortcuts-div1">
			<img src="/assets/picture/home_img.png">
			<span class="shortcuts-div1-span" style="font-family: PlayfairDisplay-Italic-6;">
				<img src="/assets/picture/logo1.png" style="width: auto;height: auto;margin-top: 10px;">
			</span>
		</div>
		<div class="index-shortcuts-div2">
			<p class="index-main-top1"><i></i>U盘启动快捷键查询</p>
			<p class="shortcuts-div2-p">电脑开机一般默认自身硬盘启动系统，如需要U盘重装系统，开机时一直按对应机型的U盘启动快捷键，选择对应USB设备即可U盘启动。</p>
			<p class="shortcuts-div2-p1">*请在上方选择查询U盘启动快捷键</p>
			<div class="quickly-find">
				<div class="hotkey clearfix flo">
					<div class="select" data-name="type">
						<span class="select-value"><span>-选择电脑类型-</span></span>
						<i class="icon down"></i>
						<div class="select-list select-list1">
							<ul>
								<li class="disabled">选择电脑类型</li>
								<li data-value="laptop">品牌笔记本</li>
								<li data-value="pc">品牌台式</li>
								<li data-value="board">组装台式</li>
							</ul>
							<div class="hotkey-div"></div>
						</div>
					</div>
					<div class="select" data-name="brand">
						<span class="select-value"><span>-选择电脑类型-</span></span>
						<i class="icon down"></i>
						<div class="select-list select-list2">
							<ul></ul>
							<div class="hotkey-div"></div>
						</div>
					</div>
					<!-- <span class="key-value" id="keyValue">*请在上方选择查询U盘启动快捷键</span> -->
					<a href="shortcuts.html">全部快捷键<i>>></i></a>
				</div>
			</div>
		</div>
	</section>

	<!-- U盘装系统-使用教程index-tutorial -->
	<section class="index-tutorial content">
		<div class="index-tutorial-left">
			<span>大白菜U盘启动盘</span>
			<span>制作工具介绍</span>
			<p class="index-tutorial-sldiv" title="大白菜U盘启动盘制作工具做到人人都会U盘装系统">
				U盘制作启动盘制作工具成功率几乎高达100%,试验过上百种U盘装系统,目前没有遇到一例使用大白菜导致u盘装系统失败。
				U盘装系统的启动文件,是大白菜小组精心优化的系统,启动PE系统,是经过反复研究最终形成了真正万能u盘装系统!</p>
			<p><span></span><span></span><span></span></p>
		</div>
		<div class="index-tutorial-right flo">
			<p class="index-main-top"><span>大白菜</span>U盘启动盘制作工具使用教程</p>
			<div class="flo">
				<a href="/booklet.html" class="tutorial-up index-tutorial-right-hover">
					<span>01</span>
					<p>制作U盘启动盘</p>
					<div class="index-tutorial-right-div1"></div>
				</a>
				<span><img src="/assets/picture/next_step.png" alt=""></span>
				<a href="/booklet.html" class="tutorial-pe">
					<span>02</span>
					<p>进入PE模式</p>
					<div class="index-tutorial-right-div2"></div>
				</a>
				<span><img src="/assets/picture/next_step.png" alt=""></span>
				<a href="/booklet.html" class="tutorial-cz">
					<span>03</span>
					<p>重装系统</p>
					<div class="index-tutorial-right-div3"></div>
				</a>
			</div>
		</div>
	</section>

	<!-- U盘装系统-历史版本index-history -->
	<section class="index-history">
		<div class="index-history-main content">
			<p class="index-main-top"><span>大白菜</span>U盘启动盘制作工具历史版本</p>
			<div class="index-history-main-div flo">
				<div>
					<span class="history-main-span"><img src="/assets/picture/new.png" alt=""></span>
					<img src="/assets/picture/logo1.png" alt="">
					<p>U盘启动盘制作工具</p>
					<a href="down_1691.html">下载V6.0_2408</a>
					<div class="history-main-div">
						<div>
							<span>2024-08-28</span>
							<span>发布时间</span>
						</div>
						<div>
							<span>简体中文</span>
							<span>软件语言</span>
						</div>
						<div>
							<span>1.37 GB</span>
							<span>软件大小</span>
						</div>
					</div>
				</div>
				<div>
					<img src="/assets/picture/logo1.png" alt="">
					<p>U盘启动盘制作工具</p>
					<a href="down_1689.html">下载v6.0_2404</a>
					<div class="history-main-div">
						<div>
							<span>2024-04-22</span>
							<span>发布时间</span>
						</div>
						<div>
							<span>简体中文</span>
							<span>软件语言</span>
						</div>
						<div>
							<span>1.32 GB</span>
							<span>软件大小</span>
						</div>
					</div>
				</div>
				<div>
					<img src="/assets/picture/logo1.png" alt="">
					<p>U盘启动盘制作工具</p>
					<a href="down_1690.html">下载V6.0_2406</a>
					<div class="history-main-div">
						<div>
							<span>2024-06-19</span>
							<span>发布时间</span>
						</div>
						<div>
							<span>简体中文</span>
							<span>软件语言</span>
						</div>
						<div>
							<span>1.36GB</span>
							<span>软件大小</span>
						</div>
					</div>
				</div>
				<div>
					<img src="/assets/picture/logo1.png" alt="">
					<p>U盘启动盘制作工具</p>
					<a href="down_1685.html">下载v6.0_2304</a>
					<div class="history-main-div">
						<div>
							<span>2023-04-23</span>
							<span>发布时间</span>
						</div>
						<div>
							<span>简体中文</span>
							<span>软件语言</span>
						</div>
						<div>
							<span>1.30 GB</span>
							<span>软件大小</span>
						</div>
					</div>
				</div>
				<div>
					<img src="/assets/picture/logo1.png" alt="">
					<p>U盘启动盘制作工具</p>
					<a href="down_1686.html">下载v6.0_2306</a>
					<div class="history-main-div">
						<div>
							<span>2023-06-16</span>
							<span>发布时间</span>
						</div>
						<div>
							<span>简体中文</span>
							<span>软件语言</span>
						</div>
						<div>
							<span> 1.21 GB</span>
							<span>软件大小</span>
						</div>
					</div>
				</div>
				<div>
					<img src="/assets/picture/logo1.png" alt="">
					<p>U盘启动盘制作工具</p>
					<a href="down_1688.html">下载v6.0_2311</a>
					<div class="history-main-div">
						<div>
							<span>2023-11-17</span>
							<span>发布时间</span>
						</div>
						<div>
							<span>简体中文</span>
							<span>软件语言</span>
						</div>
						<div>
							<span>1.28 GB</span>
							<span>软件大小</span>
						</div>
					</div>
				</div>
				<div>
					<img src="/assets/picture/logo1.png" alt="">
					<p>U盘启动盘制作工具</p>
					<a href="down_1683.html">下载v6.0_2210</a>
					<div class="history-main-div">
						<div>
							<span>2022-10-26</span>
							<span>发布时间</span>
						</div>
						<div>
							<span>简体中文</span>
							<span>软件语言</span>
						</div>
						<div>
							<span>1.32 GB</span>
							<span>软件大小</span>
						</div>
					</div>
				</div>
				<div>
					<img src="/assets/picture/logo1.png" alt="">
					<p>U盘启动盘制作工具</p>
					<a href="down_1681.html">下载v6.0_2207</a>
					<div class="history-main-div">
						<div>
							<span>2022-07-15</span>
							<span>发布时间</span>
						</div>
						<div>
							<span>简体中文</span>
							<span>软件语言</span>
						</div>
						<div>
							<span>923 MB</span>
							<span>软件大小</span>
						</div>
					</div>
				</div>
			</div>
			<!-- <a href="/u.html" class="index-history-main-a">查看更多+</a> -->
		</div>
	</section>

	<!-- U盘装系统-帮助中心index-Help-->
	<section class="index-help content">
		<p class="index-main-top"><span>大白菜u盘启动盘</span>帮助中心</p>
		<div class="index-help-main flo">
			<!--		特推-->
			<div class="index-help-main-left">
				<a href="/help_920.html"><img src="/assets/picture/3a199483c38a715a1454b9da6c826b4e.png"
						title="大白菜U盘启动盘制作工具完整使用教程" alt=""></a>
				<a href="/help_920.html" class="help-main-left-a1" title="[field:title /]">大白菜U盘启动盘制作工具完整使用教程</a>
				<p class="help-main-left-p1 index-help-sldiv"
					title="大白菜是一款具有支持提取安装文件，并自动进行系统安装和引导修复过程等功能的装机软件。但很多用户做好U盘启动盘之后对如何安装感到迷茫，针对这个问题，大白菜在此向大家详">
					大白菜是一款具有支持提取安装文件，并自动进行系统安装和引导修复过程等功能的装机软件。但很多用户做好U盘启动盘之后对如何安装感到迷茫，针对这个问题，大白菜在此向大家详</p>
				<p class="help-main-left-p2"><span>发布时间：2021.09.24</span><span>阅读量：5501796</span></p>
			</div>
			<div class="index-help-main-right">
				<div class="help-main-right-div">
					<div>
						<p>05</p>
						<span>11月</span>
					</div>
					<div>
						<a href="/help_5182.html" title="电脑装win7失败了怎么办(电脑装系统步骤)">电脑装win7失败了怎么办(电脑装系统步骤)</a>
						<p class="index-help-sldiv1"
							title="电脑安装win7失败可能由多种原因导致。请确保下载的Win7系统文件完整且未损坏。如果文件有问题，建议从官方网站重新下载。同时，确认计算机的硬件配置是否符合Win7的最低要求，特别是硬盘空间是否充足，建议至少预留50GB的空间">
							电脑安装win7失败可能由多种原因导致。请确保下载的Win7系统文件完整且未损坏。如果文件有问题，建议从官方网站重新下载。同时，确认计算机的硬件配置是否符合Win7的最低要求，特别是硬盘空间是否充足，建议至少预留50GB的空间
						</p>
					</div>
					<div><a href="/help_5182.html"></a></div>
				</div>
				<div class="help-main-right-div">
					<div>
						<p>05</p>
						<span>11月</span>
					</div>
					<div>
						<a href="/help_5181.html" title="惠普星怎么用大白菜重装系统(惠普星如何用大白菜重装系统)">惠普星怎么用大白菜重装系统(惠普星如何用大白菜重装系统)</a>
						<p class="index-help-sldiv1"
							title="大白菜是一款免费的装机工具，专门用于制作U盘启动盘，帮助用户轻松重装Windows操作系统。例如，你想给惠普电脑重装win7系统，大白菜支持win7系统的ISO文件的写入，在格式化系统盘的同时安装你所选择的系统。安装完成后，重新开机便进入到这个">
							大白菜是一款免费的装机工具，专门用于制作U盘启动盘，帮助用户轻松重装Windows操作系统。例如，你想给惠普电脑重装win7系统，大白菜支持win7系统的ISO文件的写入，在格式化系统盘的同时安装你所选择的系统。安装完成后，重新开机便进入到这个
						</p>
					</div>
					<div><a href="/help_5181.html"></a></div>
				</div>
				<div class="help-main-right-div">
					<div>
						<p>05</p>
						<span>11月</span>
					</div>
					<div>
						<a href="/help_5180.html" title="惠普战X新硬盘怎么装系统(惠普战X新硬盘如何装系统)">惠普战X新硬盘怎么装系统(惠普战X新硬盘如何装系统)</a>
						<p class="index-help-sldiv1"
							title="当你拿到一台全新的惠普战X笔记本电脑时，可能会发现新硬盘上并没有预装操作系统。这时候，你可以选择找人帮忙重装系统，也可以自己动手尝试。如果你不知道如何重装，不用担心，这篇教程将为你提供详细的指导。接下来，我们将一步步介绍如">
							当你拿到一台全新的惠普战X笔记本电脑时，可能会发现新硬盘上并没有预装操作系统。这时候，你可以选择找人帮忙重装系统，也可以自己动手尝试。如果你不知道如何重装，不用担心，这篇教程将为你提供详细的指导。接下来，我们将一步步介绍如
						</p>
					</div>
					<div><a href="/help_5180.html"></a></div>
				</div>
				<div class="help-main-right-div">
					<div>
						<p>05</p>
						<span>11月</span>
					</div>
					<div>
						<a href="/help_5179.html" title="一键装机进入pe后怎么操作&nbsp;pe重装系统步骤">一键装机进入pe后怎么操作&nbsp;pe重装系统步骤</a>
						<p class="index-help-sldiv1"
							title="PE是在Windows操作系统安装前运行的工作环境，具有较小体积，但集成了必要的安装和恢复工具。大白菜U盘启动盘就是一个集成了PE系统的U盘工具，它允许用户在不依赖硬盘上的操作系统的情况下，通过U盘引导电脑并进入PE环境。">
							PE是在Windows操作系统安装前运行的工作环境，具有较小体积，但集成了必要的安装和恢复工具。大白菜U盘启动盘就是一个集成了PE系统的U盘工具，它允许用户在不依赖硬盘上的操作系统的情况下，通过U盘引导电脑并进入PE环境。
						</p>
					</div>
					<div><a href="/help_5179.html"></a></div>
				</div>
			</div>
			<!-- <a href="/help.html" class="index-help-main-a">查看更多+</a> -->
		</div>
	</section>

	<!-- U盘装系统-常见问题index-problem-->
	<section class="index-problem content">
		<p class="index-main-top"><span>百科大学堂</span>基本常识&常见问题</p>
		<div>
			<div class="index-problem-left flo">
				<div class="problem-left-div">
					<a href=/manual_470.html title="如何使用大白菜超级u盘装机工具本地模式？"><img
							src="/assets/picture/2-200fg20155b3-lp.png" alt="如何使用大白菜超级u盘装机工具本地模式？"></a>
					<a href="/manual_470.html" title="如何使用大白菜超级u盘装机工具本地模式？">如何使用大白菜超级u盘装机工具本地模式？</a>
					<p class="index-problem-sldiv"
						title="想必大家听的最多的就是u盘重装，那么是否意味着没有u盘就无法重装系统呢?其实不然，即使没有u盘也是可以完成系统重装的。今天就教教大家如何使用大白菜超级u盘装机工具进行本地">
						想必大家听的最多的就是u盘重装，那么是否意味着没有u盘就无法重装系统呢?其实不然，即使没有u盘也是可以完成系统重装的。今天就教教大家如何使用大白菜超级u盘装机工具进行本地</p>
					<p class="flo"><span></span><span></span><span></span></p>
				</div>
				<div class="problem-left-div">
					<a href=/manual_469.html title="如何使用大白菜超u盘装机工具重装系统win10?"><img
							src="/assets/picture/2-200fg1403s36-lp.png" alt="如何使用大白菜超u盘装机工具重装系统win10?"></a>
					<a href="/manual_469.html" title="如何使用大白菜超u盘装机工具重装系统win10?">如何使用大白菜超u盘装机工具重装系统win10?</a>
					<p class="index-problem-sldiv"
						title="Win7已经算是正式退出历史舞台了，这让很多人不得不进行新的选择，而多数人的目光都放在了win10身上。小编今天就跟大家分享一下如何使用大白菜超u盘装机工具重装系统win10。">
						Win7已经算是正式退出历史舞台了，这让很多人不得不进行新的选择，而多数人的目光都放在了win10身上。小编今天就跟大家分享一下如何使用大白菜超u盘装机工具重装系统win10。</p>
					<p class="flo"><span></span><span></span><span></span></p>
				</div>
				<div class="problem-left-div">
					<a href=/manual_468.html title="如何利用大白菜超级u盘装机工具重装系统win7？"><img
							src="/assets/picture/2-200fg12959491-lp.png" alt="如何利用大白菜超级u盘装机工具重装系统win7？"></a>
					<a href="/manual_468.html" title="如何利用大白菜超级u盘装机工具重装系统win7？">如何利用大白菜超级u盘装机工具重装系统win7？</a>
					<p class="index-problem-sldiv"
						title="很多人在升级为新系统后却还是觉得win7更适合自己，看来习惯真的是个很奇妙的东西。那么小编今天要跟大家分享的就是如何利用大白菜超级u盘装机工具重装系统win7?">
						很多人在升级为新系统后却还是觉得win7更适合自己，看来习惯真的是个很奇妙的东西。那么小编今天要跟大家分享的就是如何利用大白菜超级u盘装机工具重装系统win7?</p>
					<p class="flo"><span></span><span></span><span></span></p>
				</div>
				<div class="problem-left-div">
					<a href=/manual_466.html title="大白菜u盘启动快捷键查询怎么操作？"><img src="/assets/picture/2-200f6120543345-lp.png"
							alt="大白菜u盘启动快捷键查询怎么操作？"></a>
					<a href="/manual_466.html" title="大白菜u盘启动快捷键查询怎么操作？">大白菜u盘启动快捷键查询怎么操作？</a>
					<p class="index-problem-sldiv"
						title="在u盘装系统的过程中，有一个中间环节至关重要，那就是进入u盘PE系统。如今比较常用的方式就是通过u盘启动快捷键进入大白菜pe系统。那么大白菜u盘启动快捷键查询怎么操作呢？">
						在u盘装系统的过程中，有一个中间环节至关重要，那就是进入u盘PE系统。如今比较常用的方式就是通过u盘启动快捷键进入大白菜pe系统。那么大白菜u盘启动快捷键查询怎么操作呢？</p>
					<p class="flo"><span></span><span></span><span></span></p>
				</div>
				<div class="problem-left-div">
					<a href=/manual_465.html title="如何进入大白菜u盘pe系统？"><img src="/assets/picture/2-200f6114z5a7-lp.png"
							alt="如何进入大白菜u盘pe系统？"></a>
					<a href="/manual_465.html" title="如何进入大白菜u盘pe系统？">如何进入大白菜u盘pe系统？</a>
					<p class="index-problem-sldiv"
						title="在U盘重装的过程中，有一个环节至关重要且经常容易出错，那就是u盘启动bios设置。简单来说，就是进入U盘PE系统。那么下面小编就跟大家介绍一下如何进入大白菜u盘pe系统。">
						在U盘重装的过程中，有一个环节至关重要且经常容易出错，那就是u盘启动bios设置。简单来说，就是进入U盘PE系统。那么下面小编就跟大家介绍一下如何进入大白菜u盘pe系统。</p>
					<p class="flo"><span></span><span></span><span></span></p>
				</div>
				<div class="problem-left-div">
					<a href=/manual_464.html title="如何制作大白菜u盘启动盘？"><img src="/assets/picture/2-200f611325c44-lp.png"
							alt="如何制作大白菜u盘启动盘？"></a>
					<a href="/manual_464.html" title="如何制作大白菜u盘启动盘？">如何制作大白菜u盘启动盘？</a>
					<p class="index-problem-sldiv"
						title="U盘，是大家经常用到的一个传输、存储数据的辅助工具。而如今，它的作用却远不仅如此，它还是u盘重装系统中必不可少的一个重要工具。那么小编今天就教教大家如何制作u盘启动盘">
						U盘，是大家经常用到的一个传输、存储数据的辅助工具。而如今，它的作用却远不仅如此，它还是u盘重装系统中必不可少的一个重要工具。那么小编今天就教教大家如何制作u盘启动盘</p>
					<p class="flo"><span></span><span></span><span></span></p>
				</div>
			</div>

			<div class="index-problem-right">
				<div class="problem-right-div1">
					<a href="/manual_579.html" title="HDTune硬盘检测工具怎么用?大白菜HDTune使用教程">
						<img src="/assets/picture/1a1dd770979207828a4c5df0c6f142f3.jpg" alt="">
						<span>HDTune硬盘检测工具怎么用?大白菜HDTune使用教程</span>
					</a>
				</div>
				<div class="problem-right-div2">
					<a href="/manual_578.html">
						<span>01</span>
						<p title="怎么使用Ultraiso进行文件格式转换?大白菜Ultraiso使用教程">怎么使用Ultraiso进行文件格式转换?大白菜Ultraiso使用教程</p>
						<span>2020.10.29</span>
					</a>
					<a href="/manual_577.html">
						<span>02</span>
						<p title="imdisk虚拟磁盘驱动器如何加载iso文件?大白菜ImDisk加载iso文件教程">imdisk虚拟磁盘驱动器如何加载iso文件?大白菜ImDisk加载iso文件教程
						</p>
						<span>2020.10.28</span>
					</a>
					<a href="/manual_573.html">
						<span>03</span>
						<p title="怎么使用Dism++优化系统?大白菜dism工具系统优化怎么使用">怎么使用Dism++优化系统?大白菜dism工具系统优化怎么使用</p>
						<span>2020.10.28</span>
					</a>
					<a href="/manual_572.html">
						<span>04</span>
						<p title="ADSL密码查看器该怎么用?大白菜adsl怎么找回账号密码">ADSL密码查看器该怎么用?大白菜adsl怎么找回账号密码</p>
						<span>2020.10.28</span>
					</a>
					<a href="/manual_576.html">
						<span>05</span>
						<p title="密码清除器怎么清除开机密码?大白菜密码清除器使用方法">密码清除器怎么清除开机密码?大白菜密码清除器使用方法</p>
						<span>2020.10.28</span>
					</a>
					<a href="/manual_575.html">
						<span>06</span>
						<p title="WinNTSetup怎么安装系统?大白菜WinNTSetup使用教程">WinNTSetup怎么安装系统?大白菜WinNTSetup使用教程</p>
						<span>2020.10.28</span>
					</a>
				</div>
			</div>
		</div>
		<!-- <a href="/manual.html" class="index-help-main-a">查看更多+</a> -->
	</section>
{{ end }}

{{ define "footscript" }}
<script src="/assets/js/hotkey.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  // 常见问题 右侧
  $(".problem-right-div2>a").hover(function () {
    $(".problem-right-div2>a").removeClass("problem-a");
    $(this).addClass("problem-a");
  }, function () {

  });

  // 使用教程点击
  $(".tutorial-up").click(function () {
    sessionStorage.setItem("udisk", "1");
  });
  $(".tutorial-pe").click(function () {
    sessionStorage.setItem("udisk", "2");
  });
  $(".tutorial-cz").click(function () {
    sessionStorage.setItem("udisk", "3");
  });
  // 使用教程滑动hover
  $(".tutorial-up").hover(function () {
    $(this).addClass("index-tutorial-right-hover");
    $(".index-tutorial-right-div1").css({ "background": "url(assets/images/usb_selected.png)no-repeat center center" });

    $(".index-tutorial-right a").removeClass("index-tutorial-right-hover");
    $(this).addClass("index-tutorial-right-hover");
    $(".index-tutorial-right-div3").css({ "background": "url(assets/images/system_n.png)no-repeat center center" });
    $(".index-tutorial-right-div2").css({ "background": "url(assets/images/pe_n.png)no-repeat center center" });
  }, function () {

  });
  $(".tutorial-pe").hover(function () {
    $(this).addClass("index-tutorial-right-hover");
    $(".index-tutorial-right-div2").css({ "background": "url(assets/images/pe_selected.png)no-repeat center center" });

    $(".index-tutorial-right a").removeClass("index-tutorial-right-hover");
    $(this).addClass("index-tutorial-right-hover");
    $(".index-tutorial-right-div1").css({ "background": "url(assets/images/usb_n.png)no-repeat center center" });
    $(".index-tutorial-right-div3").css({ "background": "url(assets/images/system_n.png)no-repeat center center" });
  }, function () {

  });

  $(".tutorial-cz").hover(function () {
    $(this).addClass("index-tutorial-right-hover");
    $(".index-tutorial-right-div3").css({ "background": "url(assets/images/system_selected.png)no-repeat center center" });


    $(".index-tutorial-right a").removeClass("index-tutorial-right-hover");
    $(this).addClass("index-tutorial-right-hover");
    $(".index-tutorial-right-div1").css({ "background": "url(assets/images/usb_n.png)no-repeat center center" });
    $(".index-tutorial-right-div2").css({ "background": "url(assets/images/pe_n.png)no-repeat center center" });
  }, function () {

  });
  // 使用关于我们
  $(".footer-aboutUs>a:nth-child(2)").click(function () {
    sessionStorage.setItem("aboutUs", "1");
  });
  $(".footer-aboutUs>a:nth-child(3)").click(function () {
    sessionStorage.setItem("aboutUs", "2");
  });

</script>
{{ end }}